@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');
@import "tailwindcss";

@layer utilities {
  .primary {
    color: #5f6fff;
  }

  .bg-primary {
    background-color: #5f6fff;
  }

  .border-primary {
    border-color: #5f6fff;
  }
}

::-webkit-scrollbar {
  display: none;
}

*{
  font-family: Outfit;
}
